body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Light blue background */
}

header {
    background-color: #87baf0; /* Blue header */
    padding: 20px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Align navigation to the right */
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

h1 {
    text-align: center; /* Center the heading */
    font-size: 2em;
    margin: 20px 0;
    padding: 20px;
}

#repositories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    grid-gap: 20px;
    padding: 20px;
}

#repositories div {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#repositories h3 a {
    color: #0056b3; /* Blue link color */
    text-decoration: none;
}

#repositories p {
    margin-top: 5px;
    font-size: 1em;
    color: #333;

}


/* Add animation for a smooth appearance */
#repositories {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Responsive Design*/
@media (max-width: 768px) {
    #repositories {
        grid-template-columns: 1fr; /* Stack repos vertically on smaller screens */
    }
}
